<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--驼峰式命名-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>

    <!--别名-->
    <typeAliases>
        <package name="com.sun.curd.bean"/>
    </typeAliases>

    <!--HelpPage插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--
            页码合理化：pageNum<=0时，显示第一页
                       pageNum>pages时，显示最后pages页
            -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>

</configuration>
