<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.curd.dao.AdminDao">
   <resultMap id="admin" type="com.sun.curd.bean.Admin">
      <id property="lay_id" column="layId"/>
      <result property="username" column="username"/>
      <result property="password" column="password"/>
      <result property="sex" column="sex"/>
      <result property="e_mail" column="eMail"/>
   </resultMap>
   <sql id="adminsql">
      lay_id,username,password,sex,e_mail,createTime,nickname
   </sql>
   <select id="queryAdmin" resultMap="admin">
      select
       <include refid="adminsql"></include>
       from admin
       <where>
        username=#{username} and password =#{password}
       </where>
   </select>
</mapper>